# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
darcs /projects/ShadowDemo     http://openengine.dk/code/projects/ShadowDemo
darcs-dev /projects/ShadowDemo fh.daimi.au.dk:/users/cgd/code/projects/ShadowDemo

# required extensions
darcs /extensions/SetupHelpers           http://openengine.dk/code/extensions/SetupHelpers
darcs /extensions/HUD                    http://openengine.dk/code/extensions/HUD
darcs /extensions/SDL                    http://openengine.dk/code/extensions/SDL
darcs /extensions/OpenGLRenderer         http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/TGAResource            http://openengine.dk/code/extensions/TGAResource
darcs /extensions/OBJResource            http://openengine.dk/code/extensions/OBJResource
darcs /extensions/ColladaResource        http://openengine.dk/code/extensions/ColladaResource
darcs /extensions/FixedTimeStepPhysics   http://openengine.dk/code/extensions/FixedTimeStepPhysics
darcs /extensions/AccelerationStructures http://openengine.dk/code/extensions/AccelerationStructures
darcs /extensions/GenericHandlers        http://openengine.dk/code/extensions/GenericHandlers

darcs-dev /extensions/SetupHelpers           fh.daimi.au.dk:/users/cgd/code/extensions/SetupHelpers
darcs-dev /extensions/HUD                    fh.daimi.au.dk:/users/cgd/code/extensions/HUD
darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/TGAResource            fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/OBJResource            fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/ColladaResource        fh.daimi.au.dk:/users/cgd/code/extensions/ColladaResource
darcs-dev /extensions/AccelerationStructures fh.daimi.au.dk:/users/cgd/code/extensions/AccelerationStructures
darcs-dev /extensions/FixedTimeStepPhysics   fh.daimi.au.dk:/users/cgd/code/extensions/FixedTimeStepPhysics
darcs-dev /extensions/GenericHandlers        fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip
win   /libraries http://openengine.dk/data/libraries/colladadom2.1-win32.zip

# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/colladadom2.1-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries
linux /libraries http://www.openengine.dk/data/libraries/collada-linux.tar.gz

# project data
any /projects/ShadowDemo/data http://openengine.dk/data/models/FutureTank.zip
any /projects/ShadowDemo/data http://openengine.dk/data/models/SpeedBird.zip
